<!-- templates/index.html -->
{% extends "_base.html" %} {% load static %} {% block title %}Home - Django
eCommerce Store{% endblock %} {% block content %}

<!-- Hero Section -->
<section class="bg-transparent">
  <div class="hero-banner">
    <div
      class="wrapper max-w-2xl mx-auto px-4 text-center flex items-center justify-center h-[700px]"
    >
      <left-part class="ml-[-800px] flex flex-col items-start space-y-2">
        <h2 class="text-4xl font-bold text-left">
          Easy skin <br />
          care routine.
        </h2>
        <p class="text-left w-[400px]">
          Hub offers a range of skincare products that are feminine, delicate
          and long-lasting with vitamins and nutritions to improve your
          skinitems condition.
        </p>
        <button
          type="button"
          class="inline-flex items-center gap-4 bg-black text-white font-medium rounded-full text-mg px-8 py-4 text-center mt-4 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300"
        >
          Shop products
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#ffff"
              viewBox="0 0 256 256"
            >
              <path
                d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
              ></path>
            </svg>
          </div>
        </button>
      </left-part>
      <div class="right-part"></div>
    </div>
  </div>
  <div class="margquue bg-[#FFD78B] h-16 flex items-center">
    <marquee behavior="scroll" direction="left" class="text-black text-lg">
      Free shipping on orders over $50! | 30-day money-back guarantee! | New
      arrivals every week! Free shipping on orders over $50! | 30-day money-back
      guarantee! | New arrivals every week! Free shipping on orders over $50! |
      30-day money-back guarantee! | New arrivals every week!
    </marquee>
  </div>
</section>

<section class="products-section max-w-[1200px] mx-auto py-8">
  <h1 class="text-2xl font-medium text-center mt-10">Shop Hub Products</h1>
  <p class="text-center text-sm mb-20">
    Get discounts for a limited time only.
  </p>
  <div class="product-wrapper flex flex-wrap gap-8 justify-center">
    <div class="product w-[350px]">
      <img
        src="{% static 'assets/demo_porduct.png' %}"
        alt="Demo Product"
        class="w-full h-[]200px] object-cover"
      />
      <h3 class="text-lg font-medium mt-4">Product Name</h3>
      <p class="text-gray-600">$29.99</p>
    </div>

    <div class="product w-[350px]">
      <img
        src="{% static 'assets/demo_porduct.png' %}"
        alt="Demo Product"
        class="w-full h-[]200px] object-cover"
      />
      <h3 class="text-lg font-medium mt-4">Product Name</h3>
      <p class="text-gray-600">$29.99</p>
    </div>
    <div class="product w-[350px]">
      <img
        src="{% static 'assets/demo_porduct.png' %}"
        alt="Demo Product"
        class="w-full h-[]200px] object-cover"
      />
      <h3 class="text-lg font-medium mt-4">Product Name</h3>
      <p class="text-gray-600">$29.99</p>
    </div>
  </div>
</section>

<!-- Featured Products Section -->
<section class="bg-gray-50 py-8 lg:py-16"></section>

{% endblock %}
